<div class="container text-center">
    <div class="formulario">
        <form class="text-center" [formGroup]="form" (ngSubmit)="onSubmit()">
        <h2 class="titulo">Hola de nuevo</h2>  
            <mat-form-field appearance="fill" class="campo-formulario">
                <mat-label>Email</mat-label>
                <input type="email" matInput formControlName="email" id="email" name="email">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill" class="campo-formulario">
                <mat-label>Contraseña</mat-label>
                <input type="password" matInput formControlName="password" id="password" name="password">
            </mat-form-field>
            <br>
            <br>
            <button mat-raised-button color="primary" [disabled]="!form.valid" class="boton">Iniciar sesión</button>
        </form>
        <br>
        <p><a class="enlaces" [routerLink]="['/register']">¿No tienes cuenta? Regístrate</a></p>
        <br>
        <p><a class="enlaces">He olvidado mi contraseña</a></p>
    </div>
</div>